<div class="home-link"><a href="/">nyc farmers markets</a></div>

<h1 class="info-market-name"><a href="<%= @market.market_link %>"><%= @market.market_name %></a></h1>
<section id="info-section">
  <p class="info-labels">Hours of Operation:</p>
    <p class="info-data"><%= @market.operation_hours %></p>
  <p class="info-labels">Operation season:</p>
    <p class="info-data"><%= @market.operation_season %></p>
  <p class="info-labels">Address:</p>
    <p class="info-data"><%= @market.address_line_1 %></p>
  <p class="info-labels empty-ptag"></p>
    <p class="info-data"><%= @market.city %>, <%= @market.state %> <%= @market.zip_code %></p>

  <a href="#" id="favorites-button-show-page">Add to Favorites</a>


</section>

