<h1><a href="<%= @market.market_link %>"><%= @market.market_name %></a></h1> <br>
Location: <%= @market.location %> <br>
Operation season: <%= @market.operation_season %> <br>
Hours of Operation: <%= @market.operation_hours %> <br>
Address: <%= @market.address_line_1 %> <br><br>

<a href="#">Add to Favorites</a> <br>
<a href="#">Get Directions</a>
