<h1><a href="<%= @market.market_link %>"><%= @market.market_name %></a></h1>
<section id="info-section">
  <div id="info-page-labels">
    <p class="info-labels">Hours of Operation:</p>
    <p class="info-labels">Operation season:</p>
    <p class="info-labels">Address:</p>
    <p></p>
    <p></p>
  </div>
  <div id="info-page-info">
    <p class="info-data"><%= @market.operation_hours %></p>
    <p class="info-data"><%= @market.operation_season %></p>
    <p class="info-data"><%= @market.address_line_1 %></p>
    <p class="info-data"><%= @market.city %>, <%= @market.state %> <%= @market.zip_code %></p>
  </div>
  <a href="#">Add to Favorites</a> <br>
  <a href="#">Get Directions</a>
</section>

