<!DOCTYPE html>
<html>
<head>
  <title>MarketApp</title>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="notice_container">
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
  </div>

<%= render partial: 'layouts/header' %>


<!-- ADDED NON-FUNCTIONAL SLIDER -->
<p>
  <label for="date">Day #:</label>
  <input type="text" id="date" style="border: 0; color: #f6931f; font-weight: bold;" />
</p>

<div id="slider"></div>

<%= yield %>



  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<% ENV['GOOGLE_API_KEY'] %>&sensor=true">
  </script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 <!--  <link rel="stylesheet" href="/resources/demos/style.css" /> -->



  <%= javascript_include_tag "application" %>
</body>
</html>
