<!DOCTYPE html>
<html>
<head>
  <title>MarketApp</title>
  <%= csrf_meta_tags %>
</head>
<body>


  <div id="notice_container">
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
  </div>


<%= yield %>


  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<% ENV['GOOGLE_API_KEY'] %>&sensor=true"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

</body>
</html>
